:root {
  --mskcc-blue: #007cba;
  --mskcc-orange: #df4602;
  --mskcc-dark-blue: #006098;
  --mskcc-medium-blue: #40b4e5;
  --mskcc-light-blue: #8fc7e8;
  --mskcc-dark-orange: #c24d00;
  --mskcc-medium-orange: #f29934;
  --mskcc-light-orange: #f6c65b;
  --mskcc-dark-violet: #83276b;
  --mskcc-light-violet: #b687b8;
  --mskcc-dark-magenta: #e92076;
  --mskcc-light-magenta: #efb3cb;
  --mskcc-red: #b1132d;
  --mskcc-dark-green: #4c8b2b;
  --mskcc-light-green: #a6ce39;
  --mskcc-dark-turquoise: #006c68;
  --mskcc-light-turquoise: #009490;
  --mskcc-dark-yellow: #ffc20e;
  --mskcc-light-yellow: #ffe100;
  --mskcc-dark-gray: #9e9e98;
  --mskcc-light-gray: #d5d4c7;
  --material-gray: #eceff1;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow: hidden;
  font-size: 15px;
  background-color: var(--material-gray);
}

.body-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-container {
  background-color: white;
  border: var(--mskcc-medium-orange);
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
  padding: 20px;
}
