:root {
  --mskcc-blue: #007cba;
  --mskcc-orange: #df4602;
  --mskcc-dark-blue: #006098;
  --mskcc-medium-blue: #40b4e5;
  --mskcc-light-blue: #8fc7e8;
  --mskcc-dark-orange: #c24d00;
  --mskcc-medium-orange: #f29934;
  --mskcc-light-orange: #f6c65b;
  --mskcc-dark-violet: #83276b;
  --mskcc-light-violet: #b687b8;
  --mskcc-dark-magenta: #e92076;
  --mskcc-light-magenta: #efb3cb;
  --mskcc-red: #b1132d;
  --mskcc-dark-green: #4c8b2b;
  --mskcc-light-green: #a6ce39;
  --mskcc-dark-turquoise: #006c68;
  --mskcc-light-turquoise: #009490;
  --mskcc-dark-yellow: #ffc20e;
  --mskcc-light-yellow: #ffe100;
  --mskcc-dark-gray: #9e9e98;
  --mskcc-light-gray: #d5d4c7;
  --material-gray: #eceff1;
}

.header {
  background-color: #319ae8;
  color: 'white';
  text-align: 'center';
  width: 100%;
  z-index: 1100;
  display: flex;
  height: 64px;
  justify-content: space-between;
}

.header-content {
  display: flex;
  position: relative;
  min-height: 64px;
  margin-left:10px;
}

.header-logo {
  margin: 10px;
  overflow: hidden;
  border-radius: 50%;
}

.header-title {
  margin: 20px;
  color: white;
  font-size: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}

.home-button {
  font-size: 35px;
  margin-top: 10px;
}

.home-button a {
  color: white !important;
  text-decoration: none !important;
  cursor: pointer;
}

.search-bar {
  display: flex;
  margin: 15px;
  margin-right: 70px;
}

.search-bar button {
  cursor: pointer;
  margin-left: 5px;
  width: 35px;
  border-color: #eceff1;
  border-radius: 4px;
  background-color: #d5d4c7;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.search-bar input {
  border-radius: 4px;
  border-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow: hidden;
  font-size: 15px;
  background-color: var(--material-gray);
}

.body-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-container {
  background-color: white;
  border: var(--mskcc-medium-orange);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
}

.title {
  font-weight: 500 !important;
}
