:root {
  --mskcc-blue: #007cba;
  --mskcc-orange: #df4602;
  --mskcc-dark-blue: #006098;
  --mskcc-medium-blue: #40b4e5;
  --mskcc-light-blue: #8fc7e8;
  --mskcc-dark-orange: #c24d00;
  --mskcc-medium-orange: #f29934;
  --mskcc-light-orange: #f6c65b;
  --mskcc-dark-violet: #83276b;
  --mskcc-light-violet: #b687b8;
  --mskcc-dark-magenta: #e92076;
  --mskcc-light-magenta: #efb3cb;
  --mskcc-red: #b1132d;
  --mskcc-dark-green: #4c8b2b;
  --mskcc-light-green: #a6ce39;
  --mskcc-dark-turquoise: #006c68;
  --mskcc-light-turquoise: #009490;
  --mskcc-dark-yellow: #ffc20e;
  --mskcc-light-yellow: #ffe100;
  --mskcc-dark-gray: #9e9e98;
  --mskcc-light-gray: #d5d4c7;
  --material-gray: #eceff1;
}

.header {
  background-color: #319ae8;
  color: 'white';
  text-align: 'center';
  width: 100%;
  z-index: 1100;
  display: flex;
  height: 64px;
  justify-content: space-between;
}

.header-content {
  display: flex;
  position: relative;
  min-height: 64px;
  margin-left:10px;
}

.header-logo {
  margin: 10px;
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
}

.header-title {
  margin: 20px;
  color: white;
  font-size: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}

.home-button {
  font-size: 35px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.home-button a {
  color: white !important;
  text-decoration: none !important;
}

.search-bar {
  display: flex;
  margin: 15px;
  margin-right: 70px;
}

.search-bar button {
  cursor: pointer;
  margin-left: 5px;
  width: 35px;
  border-color: #eceff1;
  border-radius: 4px;
  background-color: #d5d4c7;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.search-bar input {
  border-radius: 4px;
  border-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow: hidden;
  font-size: 15px;
  background-color: var(--material-gray);
  overflow-y: scroll;
}

.body-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-container {
  background-color: white;
  border: var(--mskcc-medium-orange);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
}

.title {
  font-weight: 500 !important;
  color: #3a3a39;
  margin-top: 5px;
}

.sub-title {
  color: #006098;
  margin-top: 20px;
}

/* LOADER */
.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--mskcc-dark-green);
  color: var(--mskcc-dark-green);
  animation: dot-elastic 1s infinite linear;
  margin: auto;
}
.dot-elastic::before, .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--mskcc-dark-green);
  color: var(--mskcc-dark-green);
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--mskcc-dark-green);
  color: var(--mskcc-dark-green);
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}


/* HOME PAGE TABLE CLASSES  */
.fill-width {
  width: 100%;
}
.text-align-center {
  text-align: center;
}
.light-blue-border {
  border: 2px solid #d6e0f5;
}
.border-collapse {
  border-collapse: collapse;
  /* border-spacing: 0; */
}
.em5 {
  font-size: 1.5em;
}
.overflow-wrap {
  white-space: initial;
}
.mskcc-medium-blue {
  color: #40b4e5;
}
.mskcc-red{
  color: #b1132d;
}
.mskcc-dark-yellow{
  color: #ffc20e;
}
.mskcc-dark-green{
  color: #4c8b2b;
}
.data-container {
  margin-left: 10px;
  margin-right: 10px;
}
.project-table {
  color: #3a3a39;
  border-radius: 4px;
}
.project-table thead {
  background-color: #ededed;
  height: 30px !important;
}
.light-blue-border p {
  margin: 10px 0;
}
.project-row p {
  font-size: 14px;
}
.project-row:hover {
  background-color: #eaeffa;
  color: #193167;
}
.project-row .project-row-link a {
  margin-left: 10px;
  margin-right: 10px;
}
.project-row .project-row-link:hover {
  cursor: pointer;
}
.qc-status-row {
  background: linear-gradient(-135deg,#8fc7e8 10px,#fff 0);
  font-weight: 700;
}
.red-highlight {
  color: var(--mskcc-orange);
}
.run-info-button {
  width: 65px;
  height: 40px;
  border-color: var(--mskcc-dark-gray);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
}
.run-info-button svg {
  color: #40b4e5;
  margin-top:4px;
}
.no-picard-stats svg {
  color: #40b4e5;
  margin-top:4px;
}
.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
}
.height-50px {
  height: 50px;
}
.inline-block {
  display: inline-block;
}
.width-250px {
  width: 250px
}
.width-30px {
  width: 30px;
}
.width-65px {
  width: 65px;
}
.pos-rel {
  position: relative;
}
.float-right {
  float: right;
}
.margin-left-10 {
  margin-left: 10px;
}
.btn-info {
  background-color: #209cee;
  color: #fff;
}
.hover:hover{
  cursor: pointer;
}
.btn-update {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  height: 100%;
}
.flag-container p {
  display: none;
  margin-bottom: 0px;
}
.flag-container:hover p {
  display: block;
}
.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  transition: 0s visibility;
  visibility: hidden;
  width: 100px;
  background-color: #d9d9d9;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 105%;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.3s;
  box-shadow: 1px 1px #9e9e98;
}

/* RUN SUMMARY STYLES*/
.run-summary .title {
  font-size:x-large;
  color: var(--mskcc-dark-blue);
  font-weight: 900 !important;
}
.run-summary .title span {
  margin: 5px;
}

/* PROJECT PAGE STYLES */
.project-title {
  background-color: var(--mskcc-light-blue);
  padding: 15px 0 5px 0;
  border-radius: 4px;
}
.project-title .title {
  color: white;
}
.project-info-data {
  padding: 5px;
  font-size: large;
  text-align: left;
}
.info-bold {
  font-weight: 800;
}
.project-flexbox-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.download-stats-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 150px;
  margin-top: 8px;
}
.download-stats {
  color: var(--mskcc-dark-blue);
  margin:10px;
  cursor: pointer;
}
.additional-actions {
  font-weight: bold;
  cursor: pointer;
  background-color: var(--material-gray);
  border-radius: 2px;
  padding:5px;
  margin: 8px 2px;
  text-align: center;
  width: 145px;
  color: black;
  text-decoration: none !important;
}
.action-button-clicked {
  background-color: #9e9e98;
  box-shadow: inset 3px 3px 9px #393937;
  color: white;
}
a:link {
  text-decoration: none !important;
}
.FAIL {
  /* --mskcc-red with a bit of transparency */
  background-color: rgba(177, 19, 45, 0.8);
}
.PASS {
  background-color: var(--mskcc-light-green);
}
.button-disabled {
  opacity: .5;
  cursor: default;
}
.hidden {
  display: none;
}
.actions-popup {
  border-color: #4a4a4a;
  border-width: 1px;
  position: fixed;
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  width: max-content;
  max-height:300px;
  overflow: scroll;
  z-index: 5;
  margin-left: -240px;
  padding: 5px;
}
.ht_clone_top {
  z-index: auto !important;
}
.hottable-container {
  margin:auto;
}
.handsontable td {
  text-align: center !important;
}
.project-table-row {
  text-align: center;
}
.error-message {
  margin-top:15px;
  font-weight: 600;
}

/* MODALS */
.modal-content-container {
  width: 900px;
}
.modal-fingerprinting-container {
  width: 800px;
}
.modal-button {
  position: fixed;
  margin-left: 89%;
  color: white;
  background-color: var(--mskcc-dark-gray);
  border-color: var(--mskcc-dark-gray);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  padding:5px 5px 0px 5px;
}
.modal-header {
  text-align: center;
  margin-bottom: 35px;
}
.column-choice-button {
  padding: 4px 8px;
  margin: 5px;
  font-size: medium;
  background-color: var(--material-gray);
  border-color: var(--mskcc-dark-gray);
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  color:#4a4a4a;
}
.column-selected {
  background-color: var(--mskcc-light-green);
  border-color: var(--material-gray);
  color:#4a4a4a;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}
.ok-button {
  background-color: var(--mskcc-blue);
  color: white;
  border-color: var(--mskcc-light-gray);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 78%;
  white-space: nowrap;
}
.status-modal-button {
  margin-left: 92%;
  color: white;
  background-color: var(--mskcc-dark-gray);
  border-color: var(--mskcc-dark-gray);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  padding:5px 5px 0px 5px;
}
.status-change {
  width: 450px;
  border-width: 2px;
  border-style: solid;
  border-color: #d5d4c7;
  border-radius: 3px;
  font-weight: 600;
  padding: 15px;
  text-align: center;
  position: absolute;
  background-color: #fafafa;
  z-index: 210;
  top: -300px;
}
.samples-container {
  width: 100%;
  font-weight: 300;
  border-style: solid;
  border-color: #d5d4c7;
  border-width: 1px;
  border-radius: 2px;
  height: 100px;
  overflow-y: scroll;
  background-color: white;
}
.new-status-selection-container {
  width: 50%;
  margin: auto;
}
.selected-samples-modal-container {
  margin-bottom: 15px;
}
.react-dropdown-select {
  margin-top: 4px;
}
.react-dropdown-select-dropdown {
  width: fit-content;
  font-weight: 300;
}
.react-dropdown-select-content {
  font-weight: 300;
}
.selected-title-text {
  margin-bottom: 4px;
}
.status-set-text {
  margin-top: 10px;
  max-width: 425px;
}

/* FINGERPRINTING */
/* #fingerprintTable {
  overflow: scroll;
} */
.fingerprint-title {
  color: black;
  font-size: x-large;
  font-weight: 600;
  text-align: center;
}
.fingerprint-subtitle {
  font-size: large;
  color: var(--mskcc-dark-orange);
  text-align: center;
  margin: 10px;
}
.icons-container {
  text-align: center;
  color: var(--mskcc-dark-blue);
  margin: 20px;
  display: flex;
  justify-content: center;
}
.icons-container div {
  padding: 0 10px;
  cursor: pointer;
}

.status-update-error {
  color: red;
  font-weight: 600;
  padding-bottom: 10px;
  text-align: center;
}
.search-bar input {
    width: 280px; /* Increase width */
    padding: 8px 12px;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}